.main{
    display: flex;
    width: 80%;
}

.blogspanel-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    margin: 0 auto;
}
.blogspanel-table{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 0.125rem;
    border: 1px solid #e2e8f0;
    position: relative;
    width: 100%;
    color: black;
}
.blogspanel-table header{
    padding: 16px 20px;
}
.blogspanel-table header h2{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 0px;
}
.blogspanel-table header h2 span{
    color: #4b5563;
    font-size: 1.15rem;
}
.table-panel-container{
    overflow-x: auto;
}
.table-panel-container table{
    table-layout: auto;
    width: 100%;
}
.table-panel-container table thead{
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #64748b;
    background-color: #f8fafc;
    border-bottom: 8px solid red;
}

.table-panel-container table thead tr th{
    padding: 12px 8px;
    white-space: nowrap;
}
.table-panel-container table thead tr th:first-child{
    padding-left: 20px;    
}
.table-panel-container table thead tr th:last-child{
    padding-right: 20px;
}
.table-panel-container table thead tr th div{
    font-weight: 500;
    text-align: left;
}
.table-panel-container table tbody{
    font-size: 14px;
    line-height: 16px;
    border-top-width: 1px;
    border-bottom-width: 0px;
}
.table-panel-container table tbody tr td{
    padding: 12px 8px;
    white-space: nowrap;
}
.table-panel-container table thead tr td:first-child{
    padding-left: 20px;    
}
.table-panel-container table thead tr td:last-child{
    padding-right: 20px;
}
.table-panel-container table tbody tr td div{
    text-align: left;
}