.menu-static {
    display: flex;
    flex-direction: column;
    width: 1.75rem;
    height: 1.75rem;
    border: 0;
    background-color: transparent;
    gap: .45rem;
    margin-left: 0.5rem;
    margin-bottom: -0.45rem;
    font-size: 17px;
    font-weight: 600;
}

.menu-static label {
    font-size: 17px;
    font-weight: 600;
    transition: all 0.2s ease;
}

.menu-button {
    display: flex;
    flex-direction: column;
    width: 1.75rem;
    height: 1.75rem;
    border: 0;
    background-color: transparent;
    gap: .45rem;
    margin-left: 0.5rem;
    margin-bottom: -0.45rem;
}

.menu-static>div {
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .3s;
}
.menu-static>div.dark {
    background-color: #fff;
}
.menu-static>div.light {
    background-color: #000;
}

.menu-button>div {
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .3s;
    transform-origin: left;
}
.menu-button>div.dark {
    background-color: #fff;
}
.menu-button>div.light {
    background-color: #000;
}

.container-menu {
    display: flex;
    flex-direction: row;
}

.container-menu-button {
    display: flex;
    width: auto;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all;
    padding: 4px;
}

.container-menu-button .menu-button div:first-child {
    transform: rotate(45deg);
}

.container-menu-button .menu-button div:nth-child(2) {
    opacity: 0;
}

.container-menu-button .menu-button div:last-child {
    transform: rotate(-45deg);
}