.sidebar-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    max-height: 900px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
}
.sidebar-container.light{
    background-color: #fff;
    box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,0.2);
}
.sidebar-container.dark{
    border-left: 1px solid #fff;
    color: #fff;
}
.element-title{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #cbd5e1;
    margin-bottom: 10px;
}
.element-title.dark{
    border-bottom: 1px solid #e2e8f0;
}
.element-title h1{
    margin-right: 5px;
    font-size: 32px;
    font-weight: 700;
    line-height: 20px;
}
.element-title h1:nth-child(1){
    margin-right: 20px;
    margin-left: 5px;
}
.sb-image{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}
.sb-image img{
    display: flex;
    width: 80%;;
}
.info-container{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #cbd5e1;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
}
.info-line{
    color: #000;
    margin-top: 12px;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
}
.info-line label:nth-child(1){
    font-weight: 700;
    letter-spacing: 0.25px;
}
.info-line label:nth-child(2){
    font-weight: 400;
}
