@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Proxima Nova;
  src: url(./Assets/Fonts/Proxima-Nova-Rg-Regular.otf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Proxima Nova;
  src: url(./Assets/Fonts/Proxima-Nova-Rg-Regular.otf);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: Proxima Nova;
  src: url(./Assets/Fonts/Proxima-Nova-Rg-Regular.otf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Proxima Nova;
  src: url(./Assets/Fonts/Proxima-Nova-Semibold.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Proxima Nova;
  src: url(./Assets/Fonts/Proxima-Nova-Semibold.otf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Proxima Nova;
  src: url(./Assets/Fonts/Proxima-Nova-Semibold.otf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Proxima Nova;
  src: url(./Assets/Fonts/Proxima-Nova-Bold.otf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Proxima Nova;
  src: url(./Assets/Fonts/Proxima-Nova-Bold.otf);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: Proxima Nova;
  src: url(./Assets/Fonts/Proxima-Nova-Bold.otf);
  font-style: normal;
  font-weight: 900;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  height: auto;
  min-height: 100vh;
  background-color: #ededed;
  padding-top: 65px;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 90vh;
}

.main-dark {
  background-color: #18191A;
  color: #ededed;

}

.main-light {
  background-color: #fff;

}

.main-table-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.main-col {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-height: 90vh;
  margin-top: 4%;
}

.main-col h1 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

.pointer {
  cursor: pointer;
}

.container-inputs {
  margin-top: 8px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
  margin-top: 24px;
}

.textfield-outline {
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  height: 32px;
  width: 256px;
  text-indent: 8px;
  box-sizing: border-box;
  border: 1px;
  border-color: currentColor;
  outline-width: 1px;
  outline-offset: 0px;
  outline-color: #e11d48;
}

.form-input {
  padding: 4px;
  text-indent: 8px;
  border: 1px solid #cbd5e1;
  border-radius: 2px;
  width: 100%;
  height: 32px;
}

.btn {
  padding: 8px;
  border: 1px solid #000;
  border-radius: 6px;
}